body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

.card{
background:#222;
padding:20px;
width:300px;
margin:20px auto;
border-radius:10px;
}

input,select,button{
width:90%;
padding:10px;
margin:5px;
border-radius:5px;
border:none;
}

button{
background:#00ff99;
color:black;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#00cc77;
}

img{
width:120px;
margin-top:10px;
border-radius:8px;
}
